.recipe-container {
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
  
  .wrapper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .shop-generate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40vw;
  }

  .shop-generate a {
    padding: 5px;
  }
  
  .shop,
  .generate {
    font-size: 22px;
    color: rgb(243, 236, 236);
    border: 1px solid black;
  }

  a {
    text-decoration: none;
  }